@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@theme {
    --font-poppins-light: "PoppinsLight";
    --font-poppins-medium: "PoppinsMedium";
    --font-poppins-semibold: "PoppinsSemiBold";
}